{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="" name="description">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="all,follow" name="robots">
    <!-- Bootstrap CSS-->
    <link href="{% static 'vote/css/bootstrap.min.css' %}" rel="stylesheet">


</head>
<body>
<div class="container">
    <div class="jumbotron">
        <h1>问卷调查系统
            <small>--by LiuYanjie</small>
        </h1>
    </div>
    <button class="btn btn-info">helloworld</button>
    <div class="row">
        <div class="col-sm-4">
            <h3>第一列</h3>
            <p>111111111111111111</p>

        </div>
        <div class="col-sm-4">
            <h3>第二列</h3>
            <p>111111111111111111</p>
        </div>
        <div class="col-sm-4">
            <table class="table table-striped table-hover table-bordered">
                <thead>
                <tr>
                    <th>第一列</th>
                    <th>第二列</th>
                    <th>第三列</th>
                    <th>第四列</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>A</td>
                    <td>A</td>
                    <td>A</td>
                    <td>A</td>
                </tr>
                <tr>
                    <td>A</td>
                    <td>A</td>
                    <td>A</td>
                    <td>A</td>
                </tr>
                <tr>
                    <td>A</td>
                    <td>A</td>
                    <td>A</td>
                    <td>A</td>
                </tr>
                <tr>
                    <td>A</td>
                    <td>A</td>
                    <td>A</td>
                    <td>A</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <form>
            <div class="form-group">
                <input type="text" placeholder="这是一个输入框" >
            </div>
        </form>
    </div>

</div>


<script src="{% static 'vote/js/jquery.min.js' %}"></script>
<script src="{% static 'vote/js/bootstrap.min.js' %}"></script>
</body>
</html>