{% extends 'vote/base.html' %}

{% block title %}调查员{% endblock %}
{% block content %}
<h1>调查员</h1>



<table class="server_info" border="1">
    <tr>
        <th>编号</th>
        <th>用户名</th>

    </tr>
    {% for i in investigator_set %}
        <tr>
        <td>{{ i.id }}</td>
        <td>{{ i.user_name }}</td>

        </td>
        <td>
            <!--<a href="serverchange/{{ i.id }}" >编 辑</a>-->
            <!--<a href="serverdelete/{{ i.id }}">删 除</a>-->
        </td>
        </tr>
    {% endfor %}


</table>

{{ error }}

{% endblock %}